@font-face {
    font-family: pokemon;
    src: url(pokemon.ttf);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: pokemon;
    letter-spacing: 5px;
    gap: 15px;
    max-width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h1 {
    margin:0;
}

#game-options {
    display: flex;
    width: 100%;
    gap: 15px;
}

#game-type {
    flex-grow: 1;
    padding: 0 20px;
}

option {
    font-weight: 700;
}

.score {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#most-clicked-pairs {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.reveal {
    text-align: end;
    padding-bottom: 15px;
}

#game-container, #results {    
    max-width: 630px;
}

#game {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    grid-gap: 10px;
}
.card {
    box-shadow: 0 3px 10px rgba(200,200,200, 0.9);
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
}

.card > .front, .card > .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.back>h2 {
    margin: 0;
    font-size: 32px;
}

.rotated {
    transform: rotateY(180deg);
}

.front {
    background-image: url("./icons8-cancel.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    width: 50px;
    height: 50px;
}

button {
    font-size:18px;
    background-color: #c62828;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#reveal-btn {
    background-color: #FDDFDF;
    color: black;
}



